# ============================================
# /etc/haproxy/haproxy.cfg
# TP Haute Disponibilite Web - Adam Ghazel
# ============================================

global
    log /dev/log local0
    maxconn 4096
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    option httplog
    option dontlognull

frontend http_front
    bind *:80
    default_backend wordpress_back
    stats uri /haproxy?stats

backend wordpress_back
    balance roundrobin
    option httpchk GET /wp-login.php
    server wp1 10.0.1.10:80 check inter 3000 fall 3 rise 2
    server wp2 10.0.1.11:80 check inter 3000 fall 3 rise 2 backup
